{% extends "blog/base.html" %}
{% block content %}
	<div class="article-content-container">
		<div align="center">
				<h2>&#xab; &#xab;  Mission  &#xbb; &#xbb;</h2>
		</div>
		<div class="row col-xl-12 text-justify" >
			<p>To inculcate the value of 'Dignity of Labour' among the youth and empower them to shape their and India's future.</p>
		</div>

		<div align="center">
				<h2>&#xab; &#xab;  The Story  &#xbb; &#xbb;</h2>
		</div>
		
		<div class="row col-xl-12 text-justify">
			<p>Welcome to Partshala!</p>
			

			<p>I, Shashi Chaurasia, currently work with a MNC at Pune, Maharashtra. Please allow me to share the reason for the creation of this platform.</p>

			<p>I joined my company after my MTech and soon I was sent to USA for trainings. Over my stay of six months, I acknowledged one key aspect in the lifestyle there. It's the perception towards WORK. "It’s a livelihood and not a status". Though you shouldn’t be surprised if you spot few people who work for the fun of it!</p>

			<p>Works are equally respected and not categorized. They are considered as learning blocks. You excel in one block, sharpen your skills and then jump to next. Youngsters, mostly students, working around you is a common sight. It does not have to be permanent and high skilled job. It can be as short as half a month but the youngsters gain enough exposure to take the first step. This experience adds up to their academic knowledge. It helps building networks and provides quick cash.</p>

			<p>I find it difficult to miss such a community/ practice here in India. There are many businesses who require extra helping hands to increase their productivity. These requirements can be short and seasonal or spontaneous in case the business is facing unexpected load. Often, the only requirement is the task force. And we all know that India has the largest young task force!</p>

			<p style="font-weight:bold;;">So this platform is an attempt to connect the task force with the productivity.</p>

			<p>Moreover, in the current pandemic situation, the intention behind launching the platform is to reduce the motion of people who are looking for work. The employee (fellow) and the employer (associate) meet only when the work begins. As a safety measure, the employee and employer are given minimum 7 days to monitor themselves and communicate each other about their well-being before the show up.</p>

			<p>I would need your support in case you are willing to be our ASSOCIATE or FELLOW. You can contact me through the 'contact us' section. <span style="font-weight:bold;">This initiative is not commercial.</span> Neither Associate nor Fellow would be asked for any money transaction. The intention is to help the needy.</p>

			<p>Also, if it helps in strengthening the trust between us, I'm an IIT Bombay alumni too.</p>
		</div>
		<div>
			<p> Thanks for visiting<br>AatmaNirbhar Bharat </p>
		</div>
	</div>

	<div class="container"> 
		<section> 
			<div align="center"> <img class="rounded-circle account-img" src="/media/uploads/my_pic.jpg" style="height:250px; width: 250px; margin: 20px 20px 20px 0">
			</div> 
			<div align="center">
				<p style="color: white ;"> pic credit: VICCO</p>
			</div>
		</section>  
	</div>	
{% endblock content %}