{% extends "blog/base.html" %}
{% block content %}
<div class="container">
    <div class="" id="accordion">
        <div class ="row justify-content-center" style="background-color: #fcc97b; margin: 10px;">
            <div class="text-center">
            <h3>--  General Queations  --</h3>
            </div>
    </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header" style="font-weight: 400; font-size:1rem">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">What does Partshala do?</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="card-block">
                    <strong>Partshala</strong> is a non-profit initiative which provides temporary staffing solutions to small, medium and large businesses. We advertise, authenticate, interview and provide suitable staff as per the job requirement. 
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header" style="font-weight: 400; font-size:1rem">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Who can post the job vacancies?</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="card-block">
                    Any small, mid or large business which requires young man-power to  meet its operations can register and post job vacancies on Partshala to become our <strong>Associate</strong>. The list of job categories that can be advertised is mentioned on the Home page. Partshala offers flexibility to an associate to post job vacancy for as short as 2 days. 
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header" style="font-weight: 400; font-size:1rem">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Who can apply for jobs?</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="card-block">
                    Any person who is seeking for a part-time job can apply for any suitable posted job and become our <strong>Fellow</strong>. A fellow need not be highly qualified in terms of education or skill (minimum 10th passed). The fellow can be a student, competitive exam aspirant or even a part-timer who is already employed and seeks extra income.  The fellow needs to meet the job requirements to be qualified for the job, that’s it. The fellow needs to be <strong>above 16 years of age</strong> to comply with child labour laws.
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header" style="font-weight: 400; font-size:1rem">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">How does the fellow gets paid? Who pays the fellow?</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="card-block">
                    Payment is directly processed by the associate towards the fellow as per the job advertisement. Partial payment can be made out on daily/ half period/ weekly/ monthly basis or fully at the end of the job as stated by the employer in the advertisement.
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header" style="font-weight: 400; font-size:1rem">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">How does Partshala pay the fellow?</a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="card-block">
                    Partshala does not deal with or monitor any transaction. Employers (Associates) are obliged to pay directly to the fellow in accordance with the advertisement. Any deviation from the advertised salary needs to be justified to Partshala before carrying out any payment related transaction with the fellow. Payment related grievances can be raised by the fellow or the associate and Partshala would take appropriate actions.
                </div>
            </div>
        </div>

        <div class ="row justify-content-center" style="background-color: #fcc97b; margin: 10px;">
            <div class="text-center">
            <h3>--  Employers/ Associates  --</h3>
            </div>
    </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header" style="font-weight: 400; font-size:1rem">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">What jobs can be posted here?</a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
                <div class="card-block">
                    Any part-time or full time job that needs hard working and dedicated youth power can be advertised on the portal. Since Partshala is committed to cater young and learning fellows, it is a request that the advertisers/ jobs try not to demand for high educational qualification such as graduation degree or prior work experience. 
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header" style="font-weight: 400; font-size:1rem">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">What happens after the associate posts a job?</a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse">
                <div class="card-block">
                    Employer would be contacted regarding their job posts for better understanding the nature of the job and authentication purpose. Only those applications which match with the job requirement would be forwarded to the employer.
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header" style="font-weight: 400; font-size:1rem">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">Why is my job post not visible on the portal?</a>
                </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse">
                <div class="card-block">
                    Once the job is posted by the associate, they would be contacted by Partshala for better understanding of the nature of the job and authentication purposes. Jobs will be visible on the portal only after Partshala verifies it. 
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header" style="font-weight: 400; font-size:1rem">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">Can an associate post more than one job?</a>
                </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse">
                <div class="card-block">
                    Yes. The associate can post any number of jobs or vacancy without any limit. It is advised to use this portal and make best of it for their business
                </div>
            </div>
        </div>

        <div class ="row justify-content-center" style="background-color: #fcc97b; margin: 10px;">
            <div class="text-center">
            <h3>--  Employees/ Fellows  --</h3>
            </div>
    </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header" style="font-weight: 400; font-size:1rem">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">What happens when a fellow applies for a specific job?</a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
                <div class="card-block">
                    The fellow would be contacted for the interview and authentication purposes. Only authenticated fellow can apply for jobs. Every fellow is interviewed and if matched with the job requirements, their application is forwarded to the associate for final approval.
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header" style="font-weight: 400; font-size:1rem">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">Can a registered fellow apply for any job?</a>
                </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse">
                <div class="card-block">
                    Yes. A fellow can apply for any job once he gets authenticated. Once the fellow registers with Partshala, they are contacted for identity verification. It is a small but important process to build trust in the whole ecosystem. Only a verified fellow can apply for jobs.
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header" style="font-weight: 400; font-size:1rem">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve">Why does my application has status as 'under verification'?</a>
                </h4>
            </div>
            <div id="collapseTwelve" class="panel-collapse collapse">
                <div class="card-block">
                    Once a job is applied by an authenticated fellow, they would be interviewed by Partshala on phone call. Only those applicants/ fellows who meet the job requirements would be notified to the associate.
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header" style="font-weight: 400; font-size:1rem">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen">Why does my application has status as 'Rejected'?</a>
                </h4>
            </div>
            <div id="collapseThirteen" class="panel-collapse collapse">
                <div class="card-block">
                    If your application status shows 'Rejected', it means that you don’t meet the job requirements. Please apply for another job.
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header" style="font-weight: 400; font-size:1rem">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen">Can a fellow apply for more than one job?</a>
                </h4>
            </div>
            <div id="collapseFourteen" class="panel-collapse collapse">
                <div class="card-block">
                    Yes. The fellow can apply for multiple jobs as long as the job dates and timings do not interfere with another job. It is requested not to apply for clashing jobs as such applications would be rejected by Partshala during the verification process.
                </div>
            </div>
        </div>

        <div class ="row justify-content-center" style="background-color: #fcc97b; margin: 10px;">
            <div class="text-center">
            <h3>--  Registering Complaint or Feedback  --</h3>
            </div>
    </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header" style="font-weight: 400; font-size:1rem">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFifteen">How can associates or fellows register their complaint?</a>
                </h4>
            </div>
            <div id="collapseFifteen" class="panel-collapse collapse">
                <div class="card-block">
                    Any associate or fellow can contact us through the respective job application. Contact us for any grievance. We would take appropriate action. Partshala commits to provide complete customer satisfaction.
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header" style="font-weight: 400; font-size:1rem">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSixteen">How to report the absence of a fellow?</a>
                </h4>
            </div>
            <div id="collapseSixteen" class="panel-collapse collapse">
                <div class="card-block">
                     If a fellow takes any uninformed leave, associate can register this grievance in the fellow's application. Fellow would be penalised with the day's payment and a strict warning. S/he would not be paid for absent days. Any subsequent misconduct would result in black-listing of the fellow by Partshala.
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header" style="font-weight: 400; font-size:1rem">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeventeen">How to report misconduct of the fellow?</a>
                </h4>
            </div>
            <div id="collapseSeventeen" class="panel-collapse collapse">
                <div class="card-block">
                    If a fellow acts inappropriate, associate can register this grievance in the fellow's application. Partshala commits to take strict action. Based on the gravity of the misconduct fellow can be blacklisted by Partshala.
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header" style="font-weight: 400; font-size:1rem">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEighteen">How does the rating system help an associate or a fellow?</a>
                </h4>
            </div>
            <div id="collapseEighteen" class="panel-collapse collapse">
                <div class="card-block">
                    Partshala provides an opportunity to review and rate the entire ecosystem. An associate can rate a fellow based on his/her service and adherence to the job requirement. While the fellow can rate the associate based on the work culture, hygeine, etc. This past record helps in building a preliminary trust among the associate and fellow. An associate can chose to accept or reject a fellow's application based on the qualification and past performance.  Likewise, a fellow can chose to apply for a particular job based on the associate's past rating.
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header" style="font-weight: 400; font-size:1rem">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNineteen">How does the rating system help Partshala?</a>
                </h4>
            </div>
            <div id="collapseNineteen" class="panel-collapse collapse">
                <div class="card-block">
                    Past records of an associate or fellow help Partshala in taking appropriate actions in order to maintain the standard of its services. Partshala would use this rating during the verification of the job posts and applications. It can even blacklist an associate or fellow on account of misconducts, if any.
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>

<style>
    .faqHeader {
        font-size: 27px;
        margin: 20px;
        font-weight: 500;
    }

    .panel-heading [data-toggle="collapse"]:after {
        font-family: 'Glyphicons Halflings';
        content: "e072"; /* "play" icon */
        float: right;
        color: #F58723;
        font-size: 18px;
        line-height: 22px;
        /* rotate "play" icon from > (right arrow) to down arrow */
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .panel-heading [data-toggle="collapse"].collapsed:after {
        /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        color: #454444;
    }
</style>

{% endblock content %}