{% extends "blog/base.html" %}
{% block content %}
<div class="row justify-content-center">
	<div class="col-12 col-md-9">
			<article class="media content-section">
			    <img class="rounded-circle article-img" src="{{ fellow.profilefellow.image.url }}">
			    <div class="article-metadata">
					<h3 class="mb-3" >{{ fellow.profilefellow.company_name }} | {{ fellow.profilefellow.fellow_avg_rating }} &#9733;</h3>
			    </div>
			</article>
	</div>
	<div class="col-12 col-md-9">
			<article class="media content-section">
			    <div class="article-metadata">
				    <p class="article-content"> <span style="font-weight: 600">Location:</span><br> {{ fellow.profilefellow.city }} </p>
				    <p class="article-content"> <span style="font-weight: 600">Established:</span><br> {{ fellow.profilefellow.estd }}</p>
				    <p class="article-content"> <span style="font-weight: 600">Company Profile:</span><br> {{ fellow.profilefellow.company_profile }}</p>
				</div>
			</article>
	</div>
</div>

	<div class="row">
		

	</div>
	
	<!-- <h3 class="mb-3" >Jobs posted ({{ page_obj.paginator.count }} jobs)</h3> 
	{% for post in posts %}
		<article class="media content-section">
		  <div class="media-body">
		    <div class="article-metadata">
		      <a class="mr-2" href="{% url 'fellow-posts' post.fellow.username %}">{{ post.fellow.profilefellow.company_name }}</a>
		      <small class="text-muted">{{ post.post_date|date:"F d, Y" }}</small>
		    </div>
		    <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.job_title }}</a></h2>
		    <p class="article-content">Job description: {{ post.job_description }}</p>
		    <p class="article-content">Start Date: {{ post.start_date }}</p>
		    <p class="article-content">Vacancy: {{ post.vacancy }}</p>
		  </div>
		</article>
	{% endfor %}
	{% if is_paginated %}
		{% if page_obj.has_previous %}
			<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}

		{% for num in page_obj.paginator.page_range %}
			{% if page_obj.number == num %}
				<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
			{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
				<a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
			{% endif %}
		{% endfor %}


		{% if page_obj.has_next %}
				<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
				<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
		{% endif %}
	{% endif %} -->
{% endblock content %}