{% extends "blog/base.html" %}
{% block content %}
	<div class ="row justify-content-center" style="background-color: #fcc97b; margin: 10px;">
			<div class="text-center">
			<h3>--  Job openings  --</h3>
			</div>
	</div>

	{% for post in posts %}
		{% if post.is_verified and not post.filled %}
			<article class="media content-section">
			  <img class="rounded-circle article-img" src="{{ post.fellow.profilefellow.image.url }}">
			  <div class="media-body">
			    <div class="article-metadata">
			      <a class="mr-2" style="color: #e28b9c;" href="{% url 'fellow-posts' post.fellow %}">{{ post.fellow.profilefellow.company_name }}</a>
			      <small class="text-muted">{{ post.post_date }}</small>
			    </div>
			    <h2><a class="article-title" style="color: #4f8edc;" href="{% url 'post-detail' post.id %}">{{ post.job_title }}, {{ post.city }}</a></h2>
			    <p class="article-content" style="margin-bottom: 0rem;"> <span style="font-weight: 600"> Total pay:</span> &#8377; {{ post.stipend }}</p>
			    <p class="article-content" style="margin-bottom: 0rem;"> <span style="font-weight: 600">  Start date:</span>{{ post.start_date|date:"F d, Y" }}</p>
			  </div>
			</article>
		{% endif %}
	{% endfor %}
	{% if is_paginated %}
		{% if page_obj.has_previous %}
			<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}

		{% for num in page_obj.paginator.page_range %}
			{% if page_obj.number == num %}
				<h2 class="btn btn-info mb-4">{{ num }}</h2>
			{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
				<a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
			{% endif %}
		{% endfor %}


		{% if page_obj.has_next %}
				<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
				<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
		{% endif %}

	{% endif %}
{% endblock content %}