{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% if user.is_authenticated and user.is_associate %}
	{% load is_already_applied %}
	{% load is_already_hired %}
	{% load is_already_rejected %}
{% endif %}

{% block content %}


<div class="row justify-content-center">
	{% if user.is_authenticated and user.is_associate and not user.profileassociate.is_verified %}
		<div class="col-12 col-md-9">
			<article class="media content-section">
				<div >
			        <span class="text-center" style="font-weight: 600; color: red"> You can apply for the job after verification. Partshala would contact you soon. &#9200; </span>
			    </div>
			</article>
		</div>
	{% endif %}

	{% if user.is_authenticated and user.is_fellow and not object.is_verified and not object.is_rejected %}
		<div class="col-12 col-md-9">
			<article class="media content-section">
				    <div >
				        <span class="text-center" style="font-weight: 600; color: red">Your job will be visible to candidates after verification. Partshala would contact you soon. &#9200;  </span>
				    </div>
			</article>
		</div>
	{% elif user.is_authenticated and user.is_fellow and not object.is_verified and object.is_rejected %}
		<div class="col-12 col-md-9">
			<article class="media content-section">
			    <div >
			        <span class="text-center" style="font-weight: 600; color: red">This job post is turned down. Contact Partshala!</span>
			    </div>
			</article>
		</div>
	{% endif %}


	<div class="col-12 col-md-9">
			<article class="media content-section">
			    <img class="rounded-circle article-img" src="{{ post.fellow.profilefellow.image.url }}">

			    <div class="article-metadata">
				  <h2 class="article-title" style="color: #4f8edc;" >{{ object.job_title }}, {{ object.city }} </h2>
			      <a class="mr-2"  style="color: #e28b9c;" href="{% url 'fellow-posts' post.fellow.username %}">{{ object.fellow.profilefellow.company_name }}</a>
			      <small class="text-muted">{{ object.post_date|date:"F d, Y" }}</small>
			    </div>
			</article>
	</div>
	<div class="col-12 col-md-9">
		<!-- <article class="media content-section"> -->
		    <div class="navbar-nav">
	        		{% if user.is_authenticated and user.is_fellow %}
	        			{% if user == post.fellow and not post.filled and not job_started and not post.is_verified %}
				      		<a class= "btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' post.id %}">Update</a>
				      		<a class= "btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' post.id %}">Delete</a>
				      	{% elif user == post.fellow and not post.filled and not job_started and post.is_verified %}
				      		<a class= "btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' post.id %}">Update</a>
				      	{% elif user == post.fellow and job_started %}
				      		<a class= "btn btn-secondary btn-sm mt-1 mb-1" href="#">Duplicate (currently not functional)</a>
						{% endif %}

	        		{% elif user.is_authenticated and user.is_associate and user.profileassociate.is_verified %}
	        			{% is_already_applied post request.user as is_applied %}
	        			{% is_already_hired post request.user as is_hired %}
	        			{% is_already_rejected post request.user as is_rejected %}
	                    {% if is_applied and not is_hired %}
	                        <input type="button" class="btn btn-success" value="Applied. Under review"/>
	                    {% elif is_hired %}
	                    	<input type="button" class="btn btn-success" value="Accepted."/>
	                    {% elif is_hired %}
	                    	<input type="button" class="btn btn-success" value="Sorry! Job post is turned down."/>
	                    {% else %}
		      				<form action="{% url 'apply_job' post.id %}" method="post">
		                        {% csrf_token %}
		                        <input type="hidden" name="post" value="{{ post.id }}">
		                        <input type="submit" class="btn btn-primary"
		                               value="Apply"/>
		                    </form>
		        		{% endif %}

		        	{% elif not user.is_authenticated %}
		        		<form action="{% url 'apply_job' post.id %}" method="post">
	                        {% csrf_token %}
	                        <input type="hidden" name="post" value="{{ post.id }}">
	                        <input type="submit" class="btn btn-success"
	                               value="Apply"/>
	                    </form>
		        	
	        		{% endif %}
	        </div>
	    <!-- </article> -->
	    <article class="media content-section">		    
			<div>
			    <p class="article-content"> <span style="font-weight: 600">Description: </span> <br>{{ object.job_description }}</p>
			    <p class="article-content"> <span style="font-weight: 600">Total pay:</span> &#8377; {{ object.stipend}}</p>
			    <p class="article-content"> <span style="font-weight: 600">Start date: </span> {{ object.start_date }}</p>
			    <p class="article-content"> <span style="font-weight: 600">End date: </span> {{ object.end_date }}</p>
			    <p class="article-content"> <span style="font-weight: 600">Start time: </span> {{ object.start_time }}</p>
			    <p class="article-content"> <span style="font-weight: 600">End time: </span> {{ object.end_time }}</p>
			    <p class="article-content"> <span style="font-weight: 600">Skills required: </span> <br> {{ object.skills_reqd }}</p>
			    <p class="article-content"> <span style="font-weight: 600">Vacancy:</span> {{ object.vacancy }}</p>
			    
		        {% if is_hired %}
		            <p class="article-content"> <span style="font-weight: 600">Address:</span><br> {{ object.address }}</p>
		        {% endif %}
		    </div>
		</article>
	</div>
</div>

{% endblock content %}