{% extends "blog/base.html" %}
{% block title %}
    Applicants
{% endblock %}
{% load static %}

{% block content %}

	<section class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mx-auto">
                    <h3> Applicants for the <a href="{% url 'post-detail' post.id %}"> {{ post.job_title }}</a> positions </h3>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                {% for application in applications %}
                    <div class="col-lg-6">
                        <div class="box applicant">
                            <h3><a class="article-title" href="{% url 'hire_associate_detail' application.id %}">{{ application.associate.profileassociate.first_name }} {{ application.associate.profileassociate.last_name }}</a></h3>
                            <p class="badge badge-info"> Applied {{ application.created_at.astimezone }}</p>
                        </div>
                    </div>
                {% endfor %}
                {% if post.applicants.count == 0 %}
                    <h3 class="col-lg-12 mx-auto" style="margin-top: 50">No applicant applied for this job yet</h3>
                {% endif %}
            </div>
        </div>
    </section>

{% endblock content %}