{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load mathfilters %}
{% block content %}

{% if not user.profilefellow.is_verified %}
    <div class="content-section">
        <span class="text-center" style="font-weight: 600; color: red">Congratulations!!! Please update your profile and we will contact you. &#9200;  </span>
    </div>
{% endif %}

<div class="content-section">
	<div class="media">
	    <img class="rounded-circle account-img" src="{{ user.profilefellow.image.url }}">
	    <div class="media-body">
	      <h4 style="font-size: 1.5rem; font-weight: 600">{{ user.profilefellow.fellow }}</h4>
	      <p class="text-secondary mb-0">{{ user.email }}</p>
          <p class="text-secondary mb-1">{{ user.phone }}</p>
          <a class= "btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'recruitment_history' %}">Recruitment History</a>
	    </div>
	</div>
	<form method= "POST" enctype='multipart/form-data'>
			{% csrf_token %}
		<fieldset class= "form-group">
			<legend class= "border-bottom mb-4"> Profile Info</legend>
			{{ u_form| crispy }}
			{{ p_form| crispy }}
		</fieldset>
		<div class= "form-group">
			<button class= "btn btn-outline-info" type="submit"> Update</button>			
		</div>
	</form>
	<!-- <h1 class="mb-3" >Jobs posted ({{ page_obj.paginator.count }} jobs)</h1>  -->

<!-- 	<div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-striped table-hover table-client-dashboard">
                <thead>
                <tr>
                    <th>Job title</th>
                    <th>Status</th>
                    <th>Start Date</th>
                    <th>Applicants</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for post in logged_in_fellow_posts %}
                    <tr>
                        <th><a href="{% url 'post-detail' post.id %}">{{ post.job_title }}</a></th>
                        <td>
                            {% if post.is_verified == False and post.is_rejected == False %}
                                <span class="badge badge-success">Under review</span>
                            {% elif post.is_rejected %}
                                <span class="badge badge-warning">Rejected.<br> Please resubmit</span>
                            {% elif post.filled %}
                                <span class="badge badge-primary">Filled</span>
                            {% else %}
                                <span class="badge badge-secondary">{{ post.no_of_hirings }}/{{ post.vacancy }}</span>
                            {% endif %}
                        </td>
                        <td>{{ post.start_date|date:"F d, Y" }}</td>
                        <td>
                            <a href="{% url 'post_applications' post.id %}">{{ post.applicants.count}} applied</a>
                        </td>
                        <td>
                            {% if post.is_verified == False and post.is_rejected == False %}
                                <span class="badge badge-success">Under review</span>
                            {% elif post.is_rejected %}
                                <span class="badge badge-warning">{{ post.rejection_note }} </span>
                            </a>
                            {% elif post.filled %}
                                <i class="fa fa-check-circle-o"></i>
                                <span >Marked as filled</span>
                            {% else %}
                                <a href="{% url 'post-mark-filled' post.id %}">
                                    <i class="fa fa-check-circle-o"></i>
                                    <span >Mark as filled</span>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div> -->
        

	<!-- {% for post in logged_in_fellow_posts %}
		<article class="media content-section">
		  	<div class="media-body">
			    <div class="article-metadata">
			      <a class="mr-2" href="{% url 'fellow-posts' post.fellow.username %}">{{ post.fellow }}</a>
			      <small class="text-muted">{{ post.from_date|date:"F d, Y" }}</small>
			    </div>
		    	<h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.job_title }}</a></h2>
			    <p class="article-content">Job description: {{ post.job_description }}</p>
			    <p class="article-content">Vacancy: {{ post.vacancy }}</p>
		  	</div>
		</article>
	{% endfor %} -->
</div>
{% endblock content %}
